Repository work-in-progress-team/RepoInterviewer, pull requests merged in 2025-06, with the labels that each got.

#81 changed: sample zip file for test
  backend/test_api.sh
Labels: bug, backend

#78 Update README.md
  README.md
Labels: frontend

#92 ファイル名をケバブケースに統一した
  frontend/src/commands/api/api.ts
  frontend/src/commands/env-sample.ts
  frontend/src/commands/extension.ts
  frontend/src/commands/functions/fetch-files.ts
  frontend/src/commands/functions/handle-webview-message.ts
  frontend/src/commands/functions/open-webview.ts
  frontend/src/commands/functions/utilities/get-nonce.ts
  frontend/src/commands/functions/utilities/get-uri.ts
  frontend/src/commands/types/api-request-value.d.ts
  frontend/src/commands/types/api-response-value.d.ts
  frontend/src/webview/src/assets/images/whole-haru.png
  frontend/src/webview/src/assets/images/whole-ren.png
  frontend/src/webview/src/assets/images/whole-saki.png
  frontend/src/webview/src/assets/images/whole-yuzu.png
  frontend/src/webview/src/data/characters.ts
  frontend/src/webview/src/screens/AnswerScreen.tsx
  frontend/src/webview/src/screens/hooks/use-thinking-animation.ts
  frontend/src/webview/src/screens/startScreen/StartScreen.tsx
  frontend/src/webview/src/types/api-request-value.d.ts
  frontend/src/webview/src/types/api-response-value.d.ts
  frontend/src/webview/src/types/chat-message.d.ts
Labels: frontend

#95 RepositoryとLLMのインタフェースを定義した
  backend/app/domain/entities/chat_history.py
  backend/app/domain/entities/source_code.py
  backend/app/domain/llm_clients/llm_client.py
  backend/app/domain/repositories/interview_repository.py
  backend/app/domain/repositories/source_code_repository.py
Labels: backend

#103 typesフォルダをまとめた
  frontend/src/commands/src/api/api.ts
  frontend/src/commands/src/extension.ts
  frontend/src/commands/src/functions/handle-webview-message.ts
  frontend/src/commands/tsconfig.json
  frontend/src/shared/types/api-request-value.d.ts
  frontend/src/shared/types/api-response-value.d.ts
  frontend/src/shared/types/tsconfig.json
  frontend/src/webview/src/screens/AnswerScreen.tsx
  frontend/src/webview/src/screens/startScreen/StartScreen.tsx
  frontend/src/webview/src/types/api-request-value.d.ts
  frontend/src/webview/src/types/api-response-value.d.ts
  frontend/src/webview/tsconfig.json
  frontend/tsconfig.json
  frontend/vite.config.ts
Labels: frontend

#107 fixed error
  frontend/src/commands/src/api/api.ts
  frontend/src/commands/src/extension.ts
  frontend/src/commands/src/functions/fetch-files.ts
  frontend/src/commands/src/functions/handle-webview-message.ts
  frontend/src/commands/tsconfig.json
Labels: frontend

#112 エンティティーにgetterとsetterを追加した
  backend/app/domain/entities/chat_history.py
  backend/app/domain/entities/evaluation_result.py
  backend/app/domain/entities/interview_question.py
  backend/app/domain/entities/source_code.py
  backend/tests/usecase/test_set_up_interview_usecase.py
Labels: backend

#126 Frontend/formatting
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/src/commands/src/api/api.ts
  frontend/src/commands/src/extension.ts
  frontend/src/commands/src/functions/fetch-files.ts
  frontend/src/commands/src/functions/handle-webview-message.ts
  frontend/src/commands/src/functions/open-webview.ts
  frontend/src/commands/src/utilities/get-uri.ts
  frontend/src/commands/src/utilities/mappers.ts
  frontend/src/shared/types/vscode-api-response-value.d.ts
  frontend/src/webview/eslint.config.js
  frontend/src/webview/src/screens/answer-screen/context/AnswerContextProvider.tsx
  frontend/src/webview/src/screens/answer-screen/context/UseAnswerContext.tsx
  frontend/src/webview/src/screens/components/LoadingOverlay.tsx
  frontend/src/webview/src/screens/components/hooks/use-thinking-animation.ts
  frontend/src/webview/src/screens/context/LoadingContext.tsx
  frontend/src/webview/src/screens/start-screen/components/CharacterSelectCards.tsx
  frontend/src/webview/src/screens/start-screen/components/Header.tsx
  frontend/src/webview/src/types/chat-message.d.ts
  frontend/src/webview/src/types/create-context.d.ts
Labels: frontend

#131 問題番号が同期するバグの修正
  frontend/src/webview/src/screens/answer-screen/components/chat-panel/chats/QuestionMessage.tsx
  frontend/src/webview/src/screens/answer-screen/context/AnswerContextProvider.tsx
  frontend/src/webview/src/types/chat-message.d.ts
Labels: bug, frontend

#136 change yuzu img
  frontend/src/webview/src/assets/images/yuzu.png
Labels: bug, frontend

#140 総評を生成するユースケースを実装した
  backend/app/domain/llm_clients/llm_client.py
  backend/app/domain/repositories/interview_repository.py
  backend/app/infrastructure/repositories/redis/interview_repository.py
  backend/app/schemas/interview_schema.py
  backend/app/usecase/usecases/get_interview_result_usecase.py
  backend/tests/usecase/usecases/test_get_interview_result_usecase.py
Labels: backend

#142 面接を開始するrouterを実装する
  backend/.env.sample
  backend/app/api/dependencies.py
  backend/app/api/routers/interview.py
  backend/app/infrastructure/llm_clients/google/llm_client.py
  backend/app/schemas/schemas.py
  backend/main.py
  backend/test_api.py
  backend/test_api.sh
  backend/tests/api/routers/conftest.py
  backend/tests/api/routers/interview/test_set_up_interview.py
  backend/tests/usecase/usecases/conftest.py
Labels: backend

#146 ユースケースのリクエストとレスポンスをDTOとして定義しなした
  .github/PULL_REQUEST_TEMPLATE.md
  backend/app/api/routers/interview.py
  backend/app/repositories/fake/redis_repo.py
  backend/app/repositories/production/redis_repo.py
  backend/app/schemas/interview_schema.py
  backend/app/schemas/schemas.py
  backend/app/services/interview_service.py
  backend/app/services/llm_service.py
  backend/app/services/prompt_service.py
  backend/app/usecase/dtos/interview_dto.py
  backend/app/usecase/usecases/get_feedback_usecase.py
  backend/app/usecase/usecases/get_interview_result_usecase.py
  backend/app/usecase/usecases/get_question_usecase.py
  backend/app/usecase/usecases/setup_interview_usecase.py
  backend/test_api.py
  backend/tests/api/routers/interview/test_set_up_interview.py
  backend/tests/usecase/usecases/test_get_feedback_usecase.py
  backend/tests/usecase/usecases/test_get_interview_result_usecase.py
  backend/tests/usecase/usecases/test_get_question_usecase.py
  backend/tests/usecase/usecases/test_set_up_interview_usecase.py
Labels: backend

#144 画像をビルドしなくていいようにした
  frontend/public/assets/fonts/Haru.ttf
  frontend/public/assets/fonts/Ren.ttf
  frontend/public/assets/fonts/Saki.ttf
  frontend/public/assets/fonts/Yuzu.ttf
  frontend/public/assets/images/haru.png
  frontend/public/assets/images/ren.png
  frontend/public/assets/images/saki.png
  frontend/public/assets/images/whole-haru.png
  frontend/public/assets/images/whole-ren.png
  frontend/public/assets/images/whole-saki.png
  frontend/public/assets/images/whole-yuzu.png
  frontend/public/assets/images/yuzu.png
  frontend/src/commands/src/extension.ts
  frontend/src/commands/src/functions/get-webview-uris.ts
  frontend/src/shared/types/uri.d.ts
  frontend/src/webview/src/AppRoutes.tsx
  frontend/src/webview/src/data/characters.ts
  frontend/src/webview/src/screens/start-screen/StartScreen.tsx
  frontend/src/webview/src/screens/start-screen/components/CharacterSelectCards.tsx
Labels: frontend

#151 フィードバックを生成するrouterを実装した
  backend/app/api/dependencies.py
  backend/app/api/routers/interview.py
  backend/app/schemas/interview_schema.py
  backend/test_api.py
  backend/tests/api/routers/interview/test_get_feedback.py
Labels: backend

#155 ビルド成果物のエラーを直した
  frontend/src/commands/api/api.ts
  frontend/src/commands/data/mensetsuignore.ts
  frontend/src/commands/env-sample.ts
  frontend/src/commands/extension.ts
  frontend/src/commands/functions/fetch-files.ts
  frontend/src/commands/functions/get-webview-uris.ts
  frontend/src/commands/functions/handle-webview-message.ts
  frontend/src/commands/functions/open-webview.ts
  frontend/src/commands/tsconfig.json
  frontend/src/commands/utilities/get-nonce.ts
  frontend/src/commands/utilities/get-uri.ts
  frontend/src/commands/utilities/mappers.ts
  frontend/src/webview/src/data/characters.ts
  frontend/src/webview/tsconfig.json
Labels: frontend

#156 質問を取得するrouterを実装した
  backend/app/api/dependencies.py
  backend/app/api/routers/interview.py
  backend/app/schemas/interview_schema.py
  backend/tests/api/routers/interview/test_get_question.py
Labels: backend

#159 総評を取得するrouterを実装した
  .gitignore
  backend/app/api/dependencies.py
  backend/app/api/routers/interview.py
  backend/app/domain/llm_clients/llm_client.py
  backend/app/infrastructure/llm_clients/google/llm_client.py
  backend/app/infrastructure/llm_clients/prompt_service.py
  backend/app/infrastructure/llm_clients/prompts/user/overall_review.txt
  backend/app/schemas/interview_schema.py
  backend/app/usecase/usecases/get_interview_result_usecase.py
  backend/pyproject.toml
  backend/test_api.py
  backend/tests/api/routers/interview/test_get_interview_result.py
  backend/tests/usecase/usecases/test_get_interview_result_usecase.py
  backend/uv.lock
Labels: backend

#157 タイトルスクリーンを作った
  frontend/.gitignore
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/commands/functions/get-webview-uris.ts
  frontend/src/webview/src/App.tsx
  frontend/src/webview/src/components/ModeToggleButton.tsx
  frontend/src/webview/src/index.tsx
  frontend/src/webview/src/screens/answer-screen/AnswerScreen.tsx
  frontend/src/webview/src/screens/answer-screen/components/ActionButtons.tsx
  frontend/src/webview/src/screens/general-feedback-screen/components/Footer.tsx
  frontend/src/webview/src/screens/start-screen/StartScreen.tsx
  frontend/src/webview/src/screens/title-screen/TitleScreen.tsx
  frontend/src/webview/src/screens/title-screen/components/FeatureGrid.tsx
  frontend/src/webview/src/screens/title-screen/components/TitleFooter.tsx
  frontend/src/webview/src/screens/title-screen/components/TitleHeader.tsx
  frontend/src/webview/src/theme.ts
  frontend/src/webview/src/types/create-context.ts
Labels: enhancement, frontend

#163 レイヤードアーキテクチャの不要なファイルを削除した
  backend/app/helpers/zip_helper.py
  backend/app/repositories/fake/redis_repo.py
  backend/app/repositories/production/redis_repo.py
  backend/app/repositories/production/source_repo.py
  backend/app/services/interview_service.py
  backend/app/services/llm_service.py
  backend/app/services/prompt_service.py
  backend/app/services/prompts/system/.gitkeep
  backend/app/services/prompts/system/easy.txt
  backend/app/services/prompts/system/extreme.txt
  backend/app/services/prompts/system/hard.txt
  backend/app/services/prompts/system/normal.txt
  backend/app/services/prompts/user/.gitkeep
  backend/app/services/prompts/user/gen_deep_question.txt
  backend/app/services/prompts/user/gen_feedback.txt
  backend/app/services/prompts/user/gen_general_review.txt
  backend/app/services/prompts/user/gen_question.txt
Labels: backend

#164 OpenAPIを修正した
  api.yml
  backend/app/api/routers/interview.py
  backend/app/usecase/usecases/get_question_usecase.py
  backend/tests/api/routers/interview/test_get_question.py
Labels: backend

#166 アーキテクチャをレイヤードからクリーンへ変更した
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  api.yml
  backend/.env.sample
  backend/app/api/dependencies.py
  backend/app/api/routers/health.py
  backend/app/api/routers/interview.py
  backend/app/domain/entities/chat_history.py
  backend/app/domain/entities/evaluation_result.py
  backend/app/domain/entities/interview_question.py
  backend/app/domain/entities/source_code.py
  backend/app/domain/llm_clients/llm_client.py
  backend/app/domain/repositories/interview_repository.py
  backend/app/helpers/zip_helper.py
  backend/app/infrastructure/llm_clients/google/llm_client.py
  backend/app/infrastructure/llm_clients/prompt_service.py
  backend/app/infrastructure/llm_clients/prompts/user/general_review.txt
  backend/app/infrastructure/llm_clients/prompts/user/overall_review.txt
  backend/app/infrastructure/repositories/redis/interview_repository.py
  backend/app/repositories/fake/redis_repo.py
  backend/app/repositories/production/redis_repo.py
  backend/app/repositories/production/source_repo.py
  backend/app/schemas/interview_schema.py
  backend/app/services/interview_service.py
  backend/app/services/llm_service.py
  backend/app/services/prompt_service.py
  backend/app/services/prompts/system/.gitkeep
  backend/app/services/prompts/system/easy.txt
  backend/app/services/prompts/system/extreme.txt
  backend/app/services/prompts/system/hard.txt
  backend/app/services/prompts/system/normal.txt
  backend/app/services/prompts/user/.gitkeep
  backend/app/services/prompts/user/gen_deep_question.txt
  backend/app/services/prompts/user/gen_feedback.txt
  backend/app/services/prompts/user/gen_question.txt
  backend/app/usecase/dtos/interview_dto.py
  backend/app/usecase/usecases/get_feedback_usecase.py
  backend/app/usecase/usecases/get_interview_result_usecase.py
  backend/app/usecase/usecases/get_question_usecase.py
  backend/app/usecase/usecases/setup_interview_usecase.py
  backend/main.py
  backend/pyproject.toml
  backend/test_api.py
  backend/test_api.sh
  backend/tests/api/routers/conftest.py
  backend/tests/api/routers/interview/test_get_feedback.py
  backend/tests/api/routers/interview/test_get_interview_result.py
  backend/tests/api/routers/interview/test_get_question.py
  backend/tests/api/routers/interview/test_set_up_interview.py
  backend/tests/domain/entities/test_chat_history.py
  backend/tests/usecase/usecases/conftest.py
  backend/tests/usecase/usecases/test_get_feedback_usecase.py
  backend/tests/usecase/usecases/test_get_interview_result_usecase.py
  backend/tests/usecase/usecases/test_get_question_usecase.py
  backend/tests/usecase/usecases/test_set_up_interview_usecase.py
  backend/uv.lock
Labels: backend

#170 タイトルスクリーンのUI を修正した
  frontend/src/webview/src/App.tsx
  frontend/src/webview/src/screens/title-screen/components/FeatureGrid.tsx
  frontend/src/webview/src/screens/title-screen/components/TitleFooter.tsx
  frontend/src/webview/src/screens/title-screen/components/TitleHeader.tsx
Labels: frontend

#174 面接の情報を保存するDBをFirestoreに変更した
  backend/.env.sample
  backend/README.md
  backend/app/api/dependencies.py
  backend/app/infrastructure/repositories/firestore/interview_repository.py
  backend/docker-compose.yml
  backend/pyproject.toml
  backend/tests/api/routers/interview/test_get_feedback.py
  backend/tests/api/routers/interview/test_get_question.py
  backend/tests/api/routers/interview/test_set_up_interview.py
  backend/uv.lock
Labels: backend

#178 FirestoreのデータベースIDを環境変数に設定した
  .github/workflows/pr-test.yml
  backend/.env.sample
  backend/app/infrastructure/repositories/firestore/interview_repository.py
Labels: backend

#181 上級モードのバグを修正した
  backend/app/infrastructure/llm_clients/google/llm_client.py
  backend/app/infrastructure/llm_clients/prompts/user/deep_question.txt
  backend/docker-compose.yml
  backend/pyproject.toml
  backend/test_api.py
Labels: bug, backend

#186 リアーキテクチャ後のfrontとbackのつなぎこみ
  api.yml
  frontend/src/commands/api/api.ts
  frontend/src/commands/utilities/mappers.ts
  frontend/src/shared/types/backend-api-response-value.ts
Labels: bug
