Repository work-in-progress-team/RepoInterviewer, pull requests merged in 2025-05, with the labels that each got.

#10 バックエンドのDocker環境を構築した
  backend/Dockerfile
  backend/README.md
  backend/docker-compose.yml
  backend/requirements.txt
  backend/test_main.http
Labels: backend

#13 add: health check for LLM connection
  backend/README.md
  backend/app/api/endpoints/health.py
  backend/app/services/llm_client.py
Labels: backend

#16 edited by Black
  backend/app/api/endpoints/health.py
  backend/app/api/endpoints/interview.py
  backend/app/models/models.py
  backend/app/services/llm_client.py
  backend/main.py
  backend/requirements.txt
Labels: backend

#24 Gemini 2.0 Flashを使うように変更した
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  backend/.gitignore
  backend/README.md
  backend/app/api/endpoints/health.py
  backend/app/api/endpoints/interview.py
  backend/app/schemas/schemas.py
  backend/app/services/interview_service.py
  backend/app/services/llm_service.py
  backend/app/services/prompt_service.py
  backend/app/services/prompts/system/.gitkeep
  backend/app/services/prompts/system/haru.txt
  backend/app/services/prompts/system/ren.txt
  backend/app/services/prompts/system/saki.txt
  backend/app/services/prompts/system/yuzu.txt
  backend/app/services/prompts/user/.gitkeep
  backend/app/services/prompts/user/gen_question.txt
  backend/requirements.txt
  backend/test_api.sh
Labels: backend

#25 backend/post-interview
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  api.yml
  backend/.env.sample
  backend/.gitignore
  backend/.python-version
  backend/README.md
  backend/app/api/endpoints/health.py
  backend/app/api/endpoints/interview.py
  backend/app/models/models.py
  backend/app/repositories/redis_repo.py
  backend/app/repositories/source_repo.py
  backend/app/schemas/schemas.py
  backend/app/services/interview_service.py
  backend/app/services/llm_client.py
  backend/app/services/llm_service.py
  backend/app/services/prompt_service.py
  backend/app/services/prompts/system/.gitkeep
  backend/app/services/prompts/user/.gitkeep
  backend/app/utils/zip_handler.py
  backend/example/archive.zip
  backend/example/cli_formatter.py
  backend/example/data_loader.py
  backend/example/main.py
  backend/example/ranker.py
  backend/main.py
  backend/requirements.txt
  backend/test_api.sh
Labels: enhancement, backend

#33 Prettierを導入した
  .vscode/extensions.json
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/.vscode/launch.json
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/commands/.vscode-test.mjs
  frontend/src/commands/CHANGELOG.md
  frontend/src/commands/api/api.ts
  frontend/src/commands/envSample.ts
  frontend/src/commands/extension.ts
  frontend/src/commands/functions/data/mensetsuignore.ts
  frontend/src/commands/functions/fetchFiles.ts
  frontend/src/commands/functions/handleWebview.ts
  frontend/src/commands/functions/openWebview.ts
  frontend/src/commands/functions/utilities/getNonce.ts
  frontend/src/commands/functions/utilities/getUri.ts
  frontend/src/commands/pnpm-lock.yaml
  frontend/src/commands/tsconfig.json
  frontend/src/commands/types/apiRequestValue.d.ts
  frontend/src/commands/types/apiResponseValue.d.ts
  frontend/src/commands/vsc-extension-quickstart.md
  frontend/src/webview/README.md
  frontend/src/webview/eslint.config.js
  frontend/src/webview/index.html
  frontend/src/webview/package.json
  frontend/src/webview/pnpm-lock.yaml
  frontend/src/webview/src/AppRoutes.tsx
  frontend/src/webview/src/data/characters.ts
  frontend/src/webview/src/index.tsx
  frontend/src/webview/src/screens/AnswerScreen.tsx
  frontend/src/webview/src/screens/GeneralFeedbackScreen.tsx
  frontend/src/webview/src/screens/startScreen/StartScreen.tsx
  frontend/src/webview/src/screens/startScreen/components/CharacterSelectCards.tsx
  frontend/src/webview/src/theme.ts
  frontend/src/webview/src/types/apiRequestValue.d.ts
  frontend/src/webview/src/types/apiResponseValue.d.ts
  frontend/src/webview/src/types/character.d.ts
  frontend/src/webview/src/types/image.d.ts
  frontend/src/webview/src/types/vscode.d.ts
  frontend/src/webview/tsconfig.json
  frontend/src/webview/vite.config.ts
Labels: frontend

#34 深掘り質問に対応するフロントの実装
  frontend/src/commands/api/api.ts
  frontend/src/commands/extension.ts
  frontend/src/commands/functions/fetchFiles.ts
  frontend/src/commands/functions/handleWebviewMessage.ts
  frontend/src/commands/types/apiResponseValue.d.ts
  frontend/src/webview/src/screens/AnswerScreen.tsx
  frontend/src/webview/src/screens/GeneralFeedbackScreen.tsx
  frontend/src/webview/src/screens/startScreen/StartScreen.tsx
  frontend/src/webview/src/types/apiResponseValue.d.ts
  frontend/src/webview/src/types/chatMessage.d.ts
Labels: frontend

#42 フィードバック生成用のプロンプトを開発した
  backend/README.md
  backend/app/repositories/fake/redis_repo.py
  backend/app/services/interview_service.py
  backend/app/services/llm_service.py
  backend/app/services/prompt_service.py
  backend/test_api.sh
Labels: backend

#47 add: auto isort & black
  .pre-commit-config.yaml
  backend/example_light/archive.zip
  backend/main.py
  pyproject.toml
Labels: backend

#49 総評とトータルスコアの取得，表示
  backend/app/api/endpoints/interview.py
  backend/app/repositories/production/redis_repo.py
  backend/app/services/interview_service.py
  backend/app/services/llm_service.py
  backend/app/services/prompt_service.py
Labels: backend

#48 ローディング中のUIを作成した
  frontend/src/webview/src/AppRoutes.tsx
  frontend/src/webview/src/assets/images/haru.png
  frontend/src/webview/src/assets/images/saki.png
  frontend/src/webview/src/assets/images/wholeHaru.png
  frontend/src/webview/src/assets/images/wholeSaki.png
  frontend/src/webview/src/data/characters.ts
  frontend/src/webview/src/screens/AnswerScreen.tsx
  frontend/src/webview/src/screens/components/LoadingOverlay.tsx
  frontend/src/webview/src/screens/context/LoadingContext.tsx
  frontend/src/webview/src/screens/hooks/useThinkingAnimation.ts
  frontend/src/webview/src/screens/startScreen/StartScreen.tsx
  frontend/src/webview/src/types/character.d.ts
  frontend/src/webview/src/types/chatMessage.d.ts
Labels: frontend

#58 質問数に応じて満点が正しく設定されるようにした
  backend/app/services/llm_service.py
Labels: backend

#61 セッションが途切れないように修正した
  frontend/src/commands/functions/openWebview.ts
Labels: frontend

#63 総評を生成するプロンプト例をREADMEに追加する
  backend/README.md
Labels: backend

#65 changed chara info and ong name
  frontend/src/webview/src/assets/images/haru.png
  frontend/src/webview/src/assets/images/saki.png
  frontend/src/webview/src/assets/images/wholeHaru.png
  frontend/src/webview/src/assets/images/wholeSaki.png
  frontend/src/webview/src/data/characters.ts
Labels: frontend

#69 APIレスポンスの変数名を変えた
  frontend/src/commands/functions/handleWebviewMessage.ts
  frontend/src/commands/types/apiResponseValue.d.ts
  frontend/src/webview/src/screens/AnswerScreen.tsx
  frontend/src/webview/src/types/apiResponseValue.d.ts
Labels: frontend

#67 上級・激詰に対応させた
  api.yml
  backend/app/api/endpoints/interview.py
  backend/app/repositories/production/redis_repo.py
  backend/app/schemas/schemas.py
  backend/app/services/interview_service.py
  backend/app/services/llm_service.py
  backend/app/services/prompt_service.py
Labels: backend

#75 ディレクトリ構成を変えた
  frontend/index.html
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/commands/extension.ts
  frontend/src/commands/tsconfig.json
  frontend/src/webview/package.json
  frontend/src/webview/src/index.tsx
  frontend/src/webview/vite.config.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Labels: frontend

#77 ディレクトリ構造を変更した
  backend/.dockerignore
  backend/.gitignore
  backend/.python-version
  backend/Dockerfile
  backend/README.md
  backend/app/api/routers/health.py
  backend/app/api/routers/interview.py
  backend/app/helpers/zip_helper.py
  backend/app/repositories/fake/redis_repo.py
  backend/app/repositories/production/redis_repo.py
  backend/app/services/interview_service.py
  backend/app/services/llm_service.py
  backend/app/services/prompt_service.py
  backend/app/services/prompts/system/easy.txt
  backend/app/services/prompts/system/extreme.txt
  backend/app/services/prompts/system/hard.txt
  backend/app/services/prompts/system/normal.txt
  backend/app/services/prompts/user/gen_deep_question.txt
  backend/app/services/prompts/user/gen_feedback.txt
  backend/app/services/prompts/user/gen_general_review.txt
  backend/app/services/prompts/user/gen_question.txt
  backend/docker-compose.yml
  backend/example/paiza/archive.zip
  backend/example/yumemi/archive.zip
  backend/example/yumemi/cli_formatter.py
  backend/example/yumemi/data_loader.py
  backend/example/yumemi/main.py
  backend/example/yumemi/ranker.py
  backend/main.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/uv.lock
  pyproject.toml
Labels: backend
